<footer>
  <div class="footer-line"></div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <section class="imprint">
        <div class="logo-brand">
          <h1>Maximilian Scheel</h1>
          <span class="imprint"> Imprint </span>
        </div>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">© 2023 - Maximilian Scheel</p>
            </div>
          </div>
        </div>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <section class="logo-links">
        <div class="logos">
          <a href="https://www.google.com/" target="_blank">
            <img src="assets/icons/githubLogo.png" alt="github" />
          </a>
          <a href="https://www.google.com/" target="_blank">
            <img src="assets/icons/mailLogo.png" alt="google" />
          </a>
          <a href="https://www.linkedin.com/in/maximilian-scheel-1b1b3b1b3/"target="_blank">
            <img src="assets/icons/linkedInLogo.png" alt="linkedin" />
          </a>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
