<section class="about-me">
  <div class="about-me-content">
    <div class="about-me-text">
      <h1 class="about-me-headline">About me</h1>
      <div class="about-me-paragraph-one">
        <p>
          I am a Frontend Developer from Germany. I have a passion for web
          development and love to create for the web. I am a self-taught
          developer and have been coding for about 2 years now. I am currently
          working as a freelancer and am looking for new opportunities.
        </p>
      </div>
      <div class="about-me-paragraph-two">
        <img src="/assets/icons/bulbDesktop.png" alt="" />
        <p>
          Some personal thing to share Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Commodi, molestiae laboriosam aspernatur repellat
          similique eum obcaecati, illum sed magnam doloremque earum recusandae
          repudiandae temporibus, illo odit aperiam cum architecto vero.
        </p>
      </div>
      <div>
        <div class="about-me-paragraph-three">
          <div>
            <img src="/assets/icons/puzzleDesktop.png" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum
            minus blanditiis aliquid, provident fuga cumque aliquam deleniti
            commodi nesciunt ratione doloribus vero. Ad recusandae perspiciatis,
            atque impedit ullam exercitationem odit!
          </p>
        </div>
      </div>
    </div>
    <div class="about-me-image">
      <div class="about-me-ring"></div>
      <div class="about-me-line"></div>
    </div>
  </div>
</section>
