<main>
      <section>
        <div class="background-graphic">
          <img src="/assets/img/backgroundGraphic.png" alt="" />
        </div>
      </section>

      <section class="name-content">
        <div class="name-field">
          <span class="deg-span">I am</span>
          <div class="name-infos">
            <h1 class="headline-name">Maximilian Scheel</h1>
            <span class="dev-name">FRONTEND DEVELOPER</span>
          </div>
        </div>
        <div class="test-button">
          <button class="talk-button" mat-button color="primary">Let's Talk!</button>
        </div>
      </section>

      <section class="background-assets">
        <div class="background-curved">
          <img src="/assets/img/backgroundCurved.png" alt="" />
        </div>
        <div class="background-purple-shadow">
          <img src="/assets/img/backgroundPurpleShadow.png" alt="" />
        </div>
      </section>
    </main>

      <section class="references">
        <div class="reference-line">
          <img src="/assets/img/referenceLine.png" alt="">
        </div>
        <div class="reference-icons">
          <img src="assets/icons/githubLogo.png" alt="">
          <img src="assets/icons/mailLogo.png" alt="">
          <img src="assets/icons/linkedInLogo.png" alt="">
        </div>
        <div class="reference-email">
          <span>scheel.development@gmail.com</span>
        </div>
      </section>

      <section class="scroll-down">
        <div class="scroll-content">
          <span>Scroll down</span>
          <img src="/assets/icons/scrollDown.png" alt="">
        </div>
      </section>

