<main>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <section>
        <div class="background-graphic">
          <img src="/assets/img/backgroundGraphic.png" alt="" />
        </div>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <section>
        <div class="name-field">
          <span class="deg-span">I am</span>
          <div class="name-infos">
            <h1 class="headline-name">Maximilian Scheel</h1>
            <span class="dev-name">FRONTEND DEVELOPER</span>
          </div>
        </div>
        <div class="test-button">
          <button class="talk-button" mat-button color="primary">Let's Talk!</button>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</main>
