/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* Breite und Farbe der Scrollleiste */
  ::-webkit-scrollbar {
    width: 8px;

  }

  /* Farbe des Scrollbalkens */
  ::-webkit-scrollbar-thumb {
    background-color: #4b47ff;
    border-radius: 15px;
  }

  /* Farbe des Hintergrunds der Scrollleiste */
  ::-webkit-scrollbar-track {
    background-color: #141d2f;
  }
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #141d2f;
  color: #ffffff;
  overflow-x: hidden;
}
